<div class="row justify-content-center align-items-center">
  <div class="col col-12 col-md-10 col-lg-6 box rounded-1 p-4">
    <h3>
      Welcome to Knitter
    </h3>
    <p class="lead">
      A Twitter-inspired Feed Reader.
    </p>
    <p>
        It's <a href="https://github.com/Pfarrer/knitter" target="_blank">Free & Open Source.</a>
        No Social features, Ads, Recommendation algorithms, and Tracking!
    </p>
    <p>
      A registration or user account is <b>not</b> required, everything runs locally in your browser.
    </p>

    <div class="d-flex justify-content-end">
      <button (click)="onInitializeClick()" type="button" class="btn btn-primary">Initialize local Database</button>
    </div>
  </div>
</div>
