<div class="card">
  <div class="card-header">
    Feed Proxy
  </div>
  <div class="card-body">
    <ng-container *ngTemplateOutlet="form_template"></ng-container>
  </div>
</div>

<ng-template #form_template>
  <form [formGroup]="form">
    <div class="form-floating mb-3">
      <input
        formControlName="proxyUrl"
        [class.is-invalid]="form.errors"
        id="proxyUrl"
        type="text"
        placeholder="https://example.com/"
        class="form-control"
      />
      <label for="serverUrl">Proxy URL</label>
    </div>

    <div class="d-flex justify-content-end">
      <button
        type="button"
        [disabled]="form.pristine || !form.valid"
        (click)="updateFeedProxySettings()"
        class="btn btn-primary"
      >
        Apply
      </button>
    </div>
  </form>
</ng-template>
