<nav class="nav nav-pills flex-column mt-2 channels">
  <a
    routerLink="/channels/timeline"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="nav-link"
  >
    <fa-icon [icon]="faNewspaper"></fa-icon> Timeline
  </a>

  <hr />
</nav>

<ng-container *ngIf="feedsVm$ | async as feedVms">
  <nav *ngIf="feedVms.length > 0" class="nav nav-pills flex-column mt-2 feeds">
    <a
      *ngFor="let feedVm of feedVms"
      [routerLink]="['/feeds', feedVm.id]"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="nav-link"
    >
      <fa-icon [icon]="faRss"></fa-icon> {{ feedVm.title }}
      <span class="badge rounded-pill text-bg-light">{{
        feedVm.unreadEntriesCount
      }}</span>
    </a>

    <hr />
  </nav>
</ng-container>

<nav class="nav nav-pills flex-column mt-2 channels">
  <a
    routerLink="/feeds/add"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="nav-link"
  >
    <fa-icon [icon]="faPlus"></fa-icon> Add Feed
  </a>
  <a
    routerLink="/settings"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="nav-link"
  >
    <fa-icon [icon]="faGear"></fa-icon> Settings
  </a>
</nav>
