<nav class="nav nav-pills flex-column mt-2 channels">
  <a
    routerLink="/channels/timeline"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="nav-link"
  >
    <fa-icon [icon]="faNewspaper"></fa-icon> Timeline
  </a>
</nav>

<nav class="nav nav-pills flex-column mt-2 feeds">
  <a
    *ngFor="let feed of feeds$ | async"
    [routerLink]="['/feeds', feed._id]"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="nav-link"
  >
    <fa-icon [icon]="faRss"></fa-icon> {{ feed.title }}
  </a>
</nav>

<nav class="nav nav-pills flex-column mt-2 channels">
  <a
    routerLink="/feeds/add"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="nav-link"
  >
    <fa-icon [icon]="faPlus"></fa-icon> Add Feed
  </a>
  <a
    routerLink="/settings"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="nav-link"
  >
    <fa-icon [icon]="faGear"></fa-icon> Settings
  </a>
</nav>
