<a
  (click)="onEntryRead()"
  [href]="entry.url"
  target="_blank"
  class="list-group-item list-group-item-action"
  [class.text-secondary]="!!entry.readAt"
>
  <div class="d-flex w-100 justify-content-between">
    <small>{{ entry.publishedAt | date }}</small>
    <span
      class="badge"
      [class.text-bg-dark]="!entry.readAt"
      [class.text-bg-secondary]="!!entry.readAt"
      >{{ entry | feedBadge | async }}</span
    >
  </div>
  <h5 class="my-1">{{ entry.title }}</h5>
  <small>{{ entry.text }}</small>
</a>
