<cdk-virtual-scroll-viewport itemSize="140" class="block h-full">
  <div *cdkVirtualFor="let entry of entries$ | async" class="block w-full h-[140px] overflow-hidden">
    <ng-container
      *ngTemplateOutlet="listItem; context: { $implicit: entry }"
    ></ng-container
  ></div>
</cdk-virtual-scroll-viewport>

<ng-template #listItem let-entry>
  <a
    (click)="onRead.emit(entry)"
    [href]="entry.url"
    target="_blank"
    [class.text-secondary]="!!entry.readAt"
    class=""
  >
    <div class="d-flex w-100 justify-content-between">
      <small>{{ entry.publishedAt | date }}</small>
      <span
        class="badge"
        [class.text-bg-dark]="!entry.readAt"
        [class.text-bg-secondary]="!!entry.readAt"
        >{{ entry | feedBadge | async }}</span
      >
    </div>
    <h5 class="my-1">{{ entry.title }}</h5>
    <small>{{ entry.text }}</small>
  </a>
</ng-template>
