<h3>Edit Feed</h3>

<form [formGroup]="form">
  <div class="form-floating mb-3">
    <input
      formControlName="title"
      [class.is-invalid]="form.get('title')?.errors && (form.get('title')?.touched || form.get('title')?.dirty)"
      id="title"
      type="text"
      placeholder="World News"
      class="form-control"
    />
    <label for="title">Title</label>
    <div *ngIf="form.get('title')?.errors?.['required'] && (form.get('title')?.touched || form.get('title')?.dirty)" class="invalid-feedback">
      Tilte is required and cannot be blank.
    </div>
  </div>

  <div class="form-floating mb-3">
    <input
      formControlName="badge"
      [class.is-invalid]="form.get('badge')?.errors"
      id="badge"
      type="text"
      placeholder="world"
      class="form-control"
    />
    <label for="badge">Badge</label>
  </div>

  <div class="d-flex justify-content-end">
    <button
      type="button"
      [disabled]="!form.valid"
      (click)="saveFeed()"
      class="btn btn-primary"
    >
      Save
    </button>
  </div>
</form>
